    [Unit]
    Description=Freedom Server
    Requires=docker.service
    After=docker.service

    [Service]
    Restart=always
    WorkingDirectory=/opt/freedom_server
    ExecStart=/usr/local/bin/docker-compose up
    ExecStop=/usr/local/bin/docker-compose down
    
    [Install]
    WantedBy=multi-user.target